/* Colors */
:root {
  --color-bg: #333;
  --color-text: #333;
  --color-accent: #5CB85C;
  --color-bg-header: #333;
  --color-text-header: #fff;
  --color-bg-nav: transparent;
  --color-text-nav: #fff;
  --color-bg-main: #333;
  --color-text-main: #5CB85C;
  --color-bg-footer: #333;
  --color-text-footer: #fff;
}

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

/* Global */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-bg);
}

/* Header */
header {
  background-color: var(--color-bg-header);
  color: var(--color-text-header);
  padding: 20px;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 700;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  background-color: var(--color-bg-nav);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: var(--color-text-nav);
  text-decoration: none;
  font-weight: 700;
}

/* Main */
main {
  background-color: var(--color-bg-main);
  color: var(--color-text-main);
  padding: 20px;
  max-width: 100vw;
  overflow-y: scroll;
}

main h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0;
}

main p {
  margin-bottom: 20px;
}

main a {
  color: var(--color-accent);
}

/* Footer */
footer {
  background-color: var(--color-bg-footer);
  color: var(--color-text-footer);
  padding: 20px;
  text-align: center;
}
