---
layout: layouts/base.njk
eleventyNavigation:
  key: Things I've Learned
  order: 3
---
<h1>Things I've Learned</h1>

<p>A small collection of things that became wiki articles or e-mails at my previous jobs</p>
{% set postslist = collections.posts %}
{% include "postslist.njk" %}
