---
layout: layouts/base.njk
eleventyNavigation:
  key: Things I've Learned
  order: 3
---
<h1>Things I've Learned</h1>

<p>Over time, I've made presentations, sent out e-mails, or just had to learn things the hard way. I'm trying to keep all that here so that I don't have to learn it again.<p>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
