---
layout: layouts/base.njk
eleventyNavigation:
  key: Things I've Learned
  order: 3
---
<h1>Things I've Learned</h1>

<p>The content here was originally created as a presentation, wiki article, or e-mail. I like sharing what I've learned, and am slowly adapting all this past work into entries here, so that I don't have to learn it the hard way again.<p>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
