---
layout: layouts/base.njk
---
<p id="hello">Hi. I'm  Wade</p>
<p>I'm a Developer & Engineering Manager who builds high-performing, quality-focused, happy teams.Over the past decade, I've led teams that were responsible for serving millions of pageviews daily; delivered streaming content metadata and programming information to very nearly every set-top box out there; and built cutting-edge adtech from scratch. (I wrote some of the code for all of that along the way, too.)</p>
<p>More importantly, I've helped these team members grow into Senior and even Staff Engineers; helped newcomers get their foot in the door; advocated for and supported diversity at all levels; and retained talent that had one of their feet already out that door.</p>
<p>Processes are one of my passions, and I've built repeatable, measurable processes that create quality code and reliable systems. Sometimes, I've even written the tools that power those processes. Of course, not everything goes right the first time, and I have deep experience as an incident manager and responding to incidents as a developer.</p>
<p>Also as a developer, I've worked across the stack, from Javascript in the browser; to Javascript, PHP, and Go on the backend; including Redis and Varnish on the caching layer; SQL Server, MySQL, and Postgres databases; and AWS and private clouds. I pride myself on my ability to learn new languages and frameworks, and work well in teams experienced with those tools.</p>
<p>I care about doing work that makes the world a better place, and want to contribute to companies with meaningful missions.</p>
<p>Welcome!</p>
{{ content | safe }}
